{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Create student</title>
{% endblock %}

{% block content %}
<h2>Students</h2>
   <form method="post">
      {%csrf_token%}
      {{form|crispy}}<br>
      <input class="btn btn-primary" type="submit" value="Create"><br><br>
    </form>
{% endblock %}
