{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
        <title>Edit student</title>
{% endblock %}

{% block content %}
<h2>Students edit</h2>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
         <input class="btn btn-success" type="submit" value="Save">
        <input class="btn btn-danger" formaction="{% url 'students:delete' student.uuid %}" type="submit" value="Delete"><br>
        <h3>Students current edition</h3>
            <table>

                <tr>
                     <th>Id</th>
                     <th>First name</th>
                     <th>Last name</th>
                     <th>Rating</th>
                    <th>Phone</th>
                    <th>Group</th>
                </tr>

                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.rating }}</td>
                    <td>{{ student.phone_number }}</td>
                     <td>{{ student.group.group_name }}</td>
                    <br>
                </tr>



            </table>

    </form>
{% endblock %}
