{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Views students</title>
{% endblock %}

{% block content %}
<h2>Students</h2>
    <form >
      {{form|crispy}}
      <input class="btn btn-light" type="submit" value="Search">
      <input class="btn btn-primary" formaction="{% url 'students:create' %}" type="submit" value = 'Create'><br><br>
    </form>

<h2>Students list</h2>

{% include 'includes/s_table.html' %}
{% endblock %}

