{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Groups detail</title>
{% endblock %}

{% block content %}
<h2>Groups</h2>
     <form>
     {% csrf_token %}
     {{form|crispy}}
     </form>
<h3>Group students {{students.count}} </h3>
    {% if not students %}
        <a>Group havn't students </a>
    {% else %}
        {% include 'includes/s_table.html' %}
    {% endif %}
{% endblock %}