{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">Groups list</title>
{% endblock %}

{% block content %}
<h2>Groups</h2>
<form>
  {{form|crispy}}<br> <br>
  <input class="btn btn-light" type="submit" value="Search">
  <input class="btn btn-primary" formaction="{% url 'groups:create' %}" type="submit" value = 'Create'><br><br>
  </form>


{% include 'includes/g-table.html' %}

{% endblock %}