{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Groups edit</title>
{% endblock %}

{% block content %}
<h2>Groups</h2>
     <form method="post">
     {% csrf_token %}
     {{form|crispy}}<br> <br>
     <input class="btn btn-success" type="submit" value="Save">
     <input class="btn btn-danger" formaction="{% url 'groups:delete' group.id %}" type="submit" value="Delete">
         <h3>Group current edition</h3>
     <table>
              <tr>
                 <th>Id</th>
                 <th>Name</th>
                 <th>Course</th>
                 <th>Start course</th>
                 <th>Teacher</th>
              </tr>

             <tr>
                 <td>{{ group.id }}</td>
                 <td>{{ group.group_name }}</td>
                 <td>{{ group.course_name }}</td>
                 <td>{{ group.date_start_course }}</td>
                 <td>{{ group.teacher.full_name }}</td>
             </tr>
     </table>
     </form>
{% endblock %}