 <table>

 <thead>
        <tr>
            <th>View</th>
            <th>Id</th>
            <th>Name</th>
            <th>Course</th>
            <th>Start course</th>
            <th>Teacher</th>
            <th>Edit</th>

         </tr>
 </thead>
    {% for group in groups %}
        <tbody>
        <tr>
            <td><a href="{% url 'groups:view' group.id %}">View</a></td>
            <td>{{ group.id }}</td>
            <td>{{ group.group_name }}</td>
            <td>{{ group.course_name }}</td>
            <td>{{ group.date_start_course }}</td>
            <td>{{ group.teacher.full_name }}</td>
             <td><a href="{% url 'groups:edit' group.id %}">EDIT</a></td>

        </tr>
        </tbody>
   {% endfor %}
</table>
<br>

{% with list_objects=groups %}
{% include 'includes/paginator.html' %}
{% endwith %}



