<div>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-link">
       <a href="?page=1">First</a>
    </li>
    <span class="page-link">

    <li class="page-item disabled">

          {% if list_objects.has_previous %}
            <a href="?page={{ list_objects.previous_page_number }}">previous</a>
          {% endif %}

    </li>
    </span>
<li class="page-item">
    {% if list_objects.has_previous %}
        <a class="page-link" href="?page={{ list_objects.previous_page_number }}">{{ list_objects.previous_page_number }}</a>
    {% endif %}
</li>
      <li class="page-item active" aria-current="page">
      <span class="page-link">
        Page {{ list_objects.number }} of {{ list_objects.paginator.num_pages }}.
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item">
        {% if list_objects.has_next %}
        <a class="page-link" href="?page={{ list_objects.next_page_number }}">{{ list_objects.next_page_number }}</a>
        {% endif %}
    </li>
      <li class="page-item">
        {% if list_objects.has_next %}
            <a class="page-link" href="?page={{ list_objects.next_page_number }}">next</a>

        {% endif %}
    </li>
    <li class="page-link">
<a href="?page={{ list_objects.paginator.num_pages }}">Last</a>
    </li>
  </ul>
</nav>
    </div>
