{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>User logout</title>
{% endblock %}

{% block content %}

         <a class="btn btn-success" href="{% url 'accounts:login' %}">Login</a>
         <a class="btn btn-light" href="{% url 'core:index' %}">Home</a>

{% endblock %}