{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Profile user</title>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{form|crispy}}


        <input class="btn btn-success" type="submit" value="Save">
        <a class="btn btn-light" href="{% url 'core:index' %}">Cancel</a>
    </form>
{% endblock %}
