{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Register new user</title>
{% endblock %}

{% block content %}
<h2>Groups</h2>

     <form method="post">
     {% csrf_token %}

     {{form|crispy}}<br> <br>

     <input class="btn btn-success" type="submit" value="Register">
         <a class="btn btn-light" href="{% url 'core:index' %}">Home</a>

     </form>
{% endblock %}