{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>View teacher</title>
{% endblock %}

{% block content %}
<h2>Teachers</h2>
<form>
      {% csrf_token %}
      {{form|crispy}}<br>

    <br>

<h3>Groups {{groups.count}}</h3>
    {% if not groups %}
    <a>Teacher hevn't groups</a>
    {% else %}
    {% include 'includes/g-table.html' %}
    {% endif %}

</form>

{% endblock %}