{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Create teacher</title>
{% endblock %}

{% block content %}
<h2>Teachers</h2>
<form method="post">
      {% csrf_token %}
      {{form|crispy}}<br> <br>
      <input class="btn btn-primary" type="submit" value="Create"><br><br>
</form>

{% endblock %}