{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Create teacher</title>
{% endblock %}

{% block content %}
<h2>Teachers</h2>
<form method="post">
      {% csrf_token %}
      {{form|crispy}}<br>
      <input class="btn btn-success" type="submit" value="Save">
      <input class="btn btn-danger"formaction="{% url 'teachers:delete' teacher.id %}" type="submit" value="Delete">
    <br>
<h3>Teacher current edition</h3>
    <table>
         <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Start work</th>
            <th>School</th>
        </tr>

        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.age }}</td>
            <td>{{ teacher.date_start_work }}</td>
            <td>{{ teacher.school }}</td>

        </tr>
    </table>
</form>

{% endblock %}