{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>View teachers</title>
{% endblock %}

{% block content %}
<h2>Teachers</h2>
<form>
  {{form|crispy}}<br>
  <input class="btn btn-light" type="submit" value="Search">
  <input class="btn btn-primary"formaction="{% url 'teachers:create' %}" type="submit" value = 'Create'><br><br>
</form>
<table>
    <thead>
        <tr>
            <th>View</th>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Start work</th>
            <th>School</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

{% for teacher in teachers %}
    <tbody>
        <tr>
            <td><a href="{% url 'teachers:view' teacher.id %}">View</a></td>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.age }}</td>
            <td>{{ teacher.date_start_work }}</td>
            <td>{{ teacher.school }}</td>
            <td><a href="{% url 'teachers:edit' teacher.id%}">EDIT</a></td>
            <td><a href="{% url 'teachers:delete' teacher.id %}">DELETE</a></td>

        </tr>
    </tbody>
{% endfor %}
</table>
<br>
{% with list_objects=teachers %}
{% include 'includes/paginator.html' %}
{% endwith %}

{% endblock %}
