{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'students:list' %}">Students</a><br>
    <a href="{% url 'teachers:list' %}">Teachers</a><br>
    <a href="{% url 'groups:list' %}">Groups</a><br><br>
    <a href="admin/">Admin</a><br>


{% endblock %}