<table>
    <thead>
        <tr>
            <th>Edit</th>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Rating</th>
            <th>Phone</th>
            <th>Group</th>
         </tr>
    </thead>
{% for student in students %}
    <tbody>
        <tr>
            <td><a href="{% url 'students:edit' student.uuid%}">EDIT</a></td>
            <td>{{ student.id }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.rating }}</td>
            <td>{{ student.phone_number }}</td>
            <td>{{ student.group.group_name }}</td>
        </tr>
    </tbody>
{% endfor %}

</table>
<br>
{% with list_objects=students %}
{% include 'includes/paginator.html' %}
{% endwith %}

